# Email Configuration
ADMIN_EMAIL=urbanunitystudios@gmail.com
DEFAULT_FROM_EMAIL=urbanunitystudios@gmail.com
EMAIL_HOST_PASSWORD="x r s f c s a i p t s p d x y y"
EMAIL_HOST_USER=urbanunitystudios@gmail.com

# Frontend Configuration
FRONTEND_URL=https://u2.group

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=pk_test_51Rb6okFKGZAnibj3dR4FU4Qn1CVmwJgmrJceKOJiDYb8OXfpvRpAmiGcBHU3g6mTaAPemCjVJAvCSHV5kHC1sB3G00ELkY2F7Z
STRIPE_SECRET_KEY=sk_test_51Rb6okFKGZAnibj3tr3imYeOmAqNggG4nvCKscyKJc7LbLr9ZtPxcS1VrhsAKT2FoqjdIbtpDJ05yB3JtLctc92E00RgBPAm2a
STRIPE_WEBHOOK_SECRET=whsec_XQ80ZywQsiDogu7OvK6oT5zXRMMPXoEY

# Supabase Database Configuration
SUPABASE_DB_HOST=aws-1-us-east-2.pooler.supabase.com
SUPABASE_DB_NAME=postgres
SUPABASE_DB_PASSWORD=U2Group2025$
SUPABASE_DB_PORT=6543
SUPABASE_DB_USER=postgres.fifkylbudotxkgodfkeo

# API Configuration
NEXT_PUBLIC_API_URL=https://u2-group-backend.onrender.com/api
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
